<div class="auth-container">
  <h2 class="form-title">Reset Password</h2>
  <div class="form-fields-group">
    <form #authForm="ngForm" (ngSubmit)="resetPassword(authForm)">

      <div class="form-group" *ngIf="isResettingPasswordMode">
        <label for="email">Email</label>
        <input type="email" id="email" name="email"
               placeholder="Enter your email"
               required
               email
               [(ngModel)]="email" #emailControl="ngModel"
               [readonly]="isResettingPasswordMode"
               class="form-input"> <div class="error-message" *ngIf="emailControl.invalid && (emailControl.dirty || emailControl.touched || authForm.submitted)">
          <div *ngIf="emailControl.errors?.['required']">Email is required</div>
          <div *ngIf="emailControl.errors?.['email']">Please enter a valid email</div>
        </div>
        <p *ngIf="!isResettingPasswordMode" class="info-text">
          Enter your email address and we'll send you a link to reset your password.
        </p>
      </div>

      <div class="form-group password-group" *ngIf="isResettingPasswordMode">
        <label for="newPassword">New Password</label>
        <div class="password-input-container">
          <input [type]="showPassword ? 'text' : 'password'" id="newPassword" name="newPassword"
                 placeholder="Enter your new password"
                 required
                 minlength="8"
                 [(ngModel)]="newPassword" #newPasswordControl="ngModel"
                 class="form-input">
          <button type="button" class="toggle-password" (click)="togglePasswordVisibility()" tabindex="-1">
            <svg *ngIf="!showPassword" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m19.8 22.6l-4.2-4.15q-.875.275-1.762.413T12 19q-3.775 0-6.725-2.087T1 11.5q.525-1.325 1.325-2.463T4.15 7L1.4 4.2l1.4-1.4l18.4 18.4zM12 16q.275 0 .513-.025t.512-.1l-5.4-5.4q-.075.275-.1.513T7.5 11.5q0 1.875 1.313 3.188T12 16m7.3.45l-3.175-3.15q.175-.425.275-.862t.1-.938q0-1.875-1.312-3.187T12 7q-.5 0-.937.1t-.863.3L7.65 4.85q1.025-.425 2.1-.637T12 4q3.775 0 6.725 2.088T23 11.5q-.575 1.475-1.513 2.738T19.3 16.45m-4.625-4.6l-3-3q.7-.125 1.288.113t1.012.687t.613 1.038t.087 1.162"/></svg>
            <svg *ngIf="showPassword" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12 16q1.875 0 3.188-1.312T16.5 11.5t-1.312-3.187T12 7T8.813 8.313T7.5 11.5t1.313 3.188T12 16m0-1.8q-1.125 0-1.912-.788T9.3 11.5t.788-1.912T12 8.8t1.913.788t.787 1.912t-.787 1.913T12 14.2m0 4.8q-3.65 0-6.65-2.037T1 11.5q1.35-3.425 4.35-5.462T12 4t6.65 2.038T23 11.5q-1.35 3.425-4.35 5.463T12 19"/></svg>
          </button>
        </div>
        <div class="error-message" *ngIf="newPasswordControl.invalid && (newPasswordControl.dirty || newPasswordControl.touched || authForm.submitted)">
          <div *ngIf="newPasswordControl.errors?.['required']">New Password is required</div>
          <div *ngIf="newPasswordControl.errors?.['minlength']">New Password must be at least 8 characters</div>
        </div>
      </div>

      <div class="form-group password-group" *ngIf="isResettingPasswordMode">
        <label for="confirmPassword">Confirm New Password</label>
        <div class="password-input-container">
          <input [type]="showConfirmPassword ? 'text' : 'password'" id="confirmPassword" name="confirmPassword"
                 placeholder="Confirm your new password"
                 required
                 [(ngModel)]="confirmPassword" #confirmPasswordControl="ngModel"
                 class="form-input">
          <button type="button" class="toggle-password" (click)="toggleConfirmPasswordVisibility()" tabindex="-1">
            <svg *ngIf="!showConfirmPassword" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m19.8 22.6l-4.2-4.15q-.875.275-1.762.413T12 19q-3.775 0-6.725-2.087T1 11.5q.525-1.325 1.325-2.463T4.15 7L1.4 4.2l1.4-1.4l18.4 18.4zM12 16q.275 0 .513-.025t.512-.1l-5.4-5.4q-.075.275-.1.513T7.5 11.5q0 1.875 1.313 3.188T12 16m7.3.45l-3.175-3.15q.175-.425.275-.862t.1-.938q0-1.875-1.312-3.187T12 7q-.5 0-.937.1t-.863.3L7.65 4.85q1.025-.425 2.1-.637T12 4q3.775 0 6.725 2.088T23 11.5q-.575 1.475-1.513 2.738T19.3 16.45m-4.625-4.6l-3-3q.7-.125 1.288.113t1.012.687t.613 1.038t.087 1.162"/></svg>
            <svg *ngIf="showConfirmPassword" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12 16q1.875 0 3.188-1.312T16.5 11.5t-1.312-3.187T12 7T8.813 8.313T7.5 11.5t1.313 3.188T12 16m0-1.8q-1.125 0-1.912-.788T9.3 11.5t.788-1.912T12 8.8t1.913.788t.787 1.912t-.787 1.913T12 14.2m0 4.8q-3.65 0-6.65-2.037T1 11.5q1.35-3.425 4.35-5.462T12 4t6.65 2.038T23 11.5q-1.35 3.425-4.35 5.463T12 19"/></svg>
          </button>
        </div>
        <div class="error-message" *ngIf="confirmPasswordControl.invalid && (confirmPasswordControl.dirty || confirmPasswordControl.touched || authForm.submitted)">
          <div *ngIf="confirmPasswordControl.errors?.['required']">Confirm Password is required</div>
        </div>
        <div class="error-message" *ngIf="newPassword !== confirmPassword && (confirmPasswordControl.dirty || confirmPasswordControl.touched || authForm.submitted)">
          <div>Passwords do not match</div>
        </div>
      </div>

      <div *ngIf="successMessage" class="success-message">
        {{ successMessage }}
      </div>
      <div *ngIf="errorMessage" class="error-message-inline">
        {{ errorMessage }}
      </div>

      <button type="submit" class="submit-button" [disabled]="!authForm.valid || isLoading">
        <span *ngIf="!isLoading">Reset Password</span>
        <span *ngIf="isLoading">Resetting...</span>
      </button>
    </form>
  </div>
</div>