 <!-- <div class="cart-sidebar" [class.open]="isOpen">
  <div class="cart-toggle" (click)="toggleCart()">
     arrow icon -->
    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path fill="currentColor" d="M10 22L0 12L10 2l1.775 1.775L3.55 12l8.225 8.225z"/>
    </svg>
  </div>

  <div class="cart-content">
    <h2>Your Cart</h2>
    <div *ngIf="cartItems.length === 0">Your cart is empty.</div>

    <div *ngFor="let item of cartItems" class="cart-item">
      <img [src]="item.images[0]" alt="{{item.name}}" class="cart-image">
      <div class="cart-details">
        <p class="cart-name">{{ item.name }}</p>
        <p class="cart-price">{{ item.price | currency }}</p>
      </div>
    </div>

    <button (click)="buyAll()">Buy All</button>
  </div>
</div> --> 
